
[submodule "CSerialPort"]
	path = 3rdparty/CSerialPort
	url = https://github.com/itas109/CSerialPort.git
[submodule "hidapi"]
	path = 3rdparty/hidapi
	url = https://github.com/libusb/hidapi.git
[submodule "libuv"]
	path = 3rdparty/libuv
	url = https://github.com/libuv/libuv.git
	branch = v1.x
[submodule "simpleble"]
	path = 3rdparty/simpleble
	url = https://github.com/simpleble/simpleble.git
