[submodule "mbedtls"]
	path = 3rdparty/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
	branch = mbedtls-3.6.5
[submodule "CSerialPort"]
	path = 3rdparty/CSerialPort
	url = https://github.com/itas109/CSerialPort.git
[submodule "hidapi"]
	path = 3rdparty/hidapi
	url = https://github.com/libusb/hidapi.git
[submodule "libuv"]
	path = 3rdparty/libuv
	url = https://github.com/libuv/libuv.git
[submodule "libwebsockets"]
	path = 3rdparty/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
[submodule "simpleble"]
	path = 3rdparty/simpleble
	url = https://github.com/simpleble/simpleble.git
